<header>
  <nav class="navbar">
    <div class="cont glow-box glass-effect">

        <div class="navbar-title">Blogger</div>
        <div class="navbar-links">
            <div class="link-group button-div">
                See Posts
            </div>
        </div> 
    </div>
  </nav>
</header>